body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* set `#slideshow` parent background color */
.slideshow {
  background:#000;
  display:block;
  width:inherit;
  height:inherit;
}
#slideshow {
  width:100%;
  height:100%;
  max-height:100%;
  display:block;
  opacity:0.0;
  background-color:#fff;
  background-image:url("../imgs/viz/website-slideshow-1.png"), 
    url("../imgs/viz/website-slideshow-1.png"), 
    url("../imgs/viz/website-slideshow-1.png"), 
    url("../imgs/viz/website-slideshow-1.png"), 
    url("../imgs/viz/website-slideshow-1.png");
  background-size:contain, 0px, 0px, 0px;
  background-position:center;
  background-repeat:no-repeat;
/* set transtitions at 3000ms 
  -webkit-transition: background-image 3000ms linear;
  -moz-transition: background-image 3000ms linear;
  -ms-transition: background-image 3000ms linear;
  -o-transition: background-image 3000ms linear;
  transition: background-image 3000ms linear;
    */
}

/* Full height image header */
.bgimg-1 {
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
  background-color:#000;
  background-image: url("../imgs/viz/website-main-pic-4.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.team-text-minsize {
  min-height: 125px;
}
.team-name-minsize {
  min-height: 70px;
}

.circle-border {
  border-radius: 50%;
}

div.transbox {
  background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding:2px;
}

a+a {
  margin-left: 10px;
}
